body {
    margin: 0;
    font-family: Arial;
    background-color: rgb(252, 233, 197);
}

.app {
    display: flex;
    height: 500px;
    overflow: hidden;
}

.title-bar {
    height: 42px;
    -webkit-app-region: drag;
}

.header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    /* -webkit-app-region: drag; */
}

#heading {
    margin: 0px;
}

.ctrl-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    position: absolute;
    top: 14px;
    right: 16px;
    -webkit-app-region: no-drag;
}

.ctrl-btn {
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.ctrl-btn:hover {
    scale: 1.1;
}

.devtools-btn {
    background-color: rgb(96, 96, 96);
}

.minimize-btn {
    background-color: rgb(59, 113, 14);
}

.maximize-btn {
    background-color: rgb(193, 191, 28);
}

.close-btn {
    background-color: rgb(177, 35, 35);
}


.chat-panel {
    width: 330px;
    min-width: 330px;
    /* border-right: 1px solid #ddd; */
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 233, 197);
    border-radius: 20px;
    margin: 30px;
    box-shadow: inset;
}

.messages-area {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.messages-area::-webkit-scrollbar {
    width: 6px;
}

.messages-area::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 20px;
}

.messages-area::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.message {
    padding: 8px 15px;
    color: white;
    border-radius: 20px;
    margin-bottom: 8px;
    width: fit-content;
    max-width: 60%;
    overflow-wrap: break-word;
    font-size: 15px;
    cursor: default;
    white-space: pre-line;
}

.message:hover {
    transform: scale(1.03);
    transition: transform 0.1s;
}

.user-message {
    background-color: rgb(64, 64, 224);
    align-self: flex-end;
}

.agent-message {
    background-color: rgb(179, 64, 224);
    align-self: flex-start;
}


#loaderWrapper {
    min-height: 60px;
}

#loader {
    opacity: 0;
    margin-left: 5px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(179, 64, 224);
    animation: fadeIn 0.5s ease 0.5s forwards, moveLoader 2.5s ease-in-out 1s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveLoader {
    0% {
        height: 16px;
        width: 16px;
    }

    50% {
        height: 25px;
        width: 25px;
    }

    100% {
        height: 16px;
        width: 16px;
    }
}

.input-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(252, 233, 197);
    bottom: 0px;
    border-radius: 20px;
    gap: 15px;
    padding: 15px 2px;
}

#inputField {
    border-radius: 20px;
    outline: none;
    border: none;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    border: 1px solid rgb(252, 233, 197);
    font-size: 16px;
}

#inputField:hover {
    border: 1px solid rgb(209, 184, 138);
    transform: scale(1.05);
    transition: transform 0.1s;
}

#inputField:focus {
    border: 1px solid rgb(209, 184, 138);
    transform: scale(1.05);
    transition: transform 0.1s;
}

#sendButton {
    width: 100px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(0, 111, 0);
    height: 40px;
    font-size: 16px;
}

#sendButton:hover {
    cursor: pointer;
    background-color: rgb(0, 90, 0);
    scale: 1.05;
    transition: scale 0.1s ease-in-out;
}

#sendButton:active {
    background-color: rgb(0, 71, 0);
}

.main-area {
    padding: 20px 30px 20px 20px;
    height: 400px;
    width: 100%;
    height: 460px;
    /* background-color: #999; */
}

.timelogs-header {
    padding: 10px 0px 18px 0px;
    display: flex;
    justify-content: flex-end;
}

.export-btn {
    width: 80px;
    border-radius: 20px;
    outline: none;
    border: none;
    /* color: white; */
    /* background-color: rgb(70, 123, 70); */
    background-color: rgb(252, 233, 197);
    border: 1px solid rgb(70, 123, 70);
    color: rgb(70, 123, 70);
    height: 34px;
    font-size: 16px;
}

.export-btn:hover {
    cursor: pointer;
    background-color: rgb(70, 123, 70);
    /* background-color: rgb(0, 90, 0); */
    /* scale: 1.02; */
    transition: scale 0.1s ease-in-out;
    color: #ffffff;
}

.export-btn:active {
    background-color: rgb(0, 71, 0);
}

.main-area-card {
    /* background-color: white; */
    height: 83%;
    /* border: 1px solid black; */
    border-radius: 12px;
    overflow-y: scroll;
}

.main-area-card::-webkit-scrollbar {
    width: 6px;
}

.main-area-card::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 20px;
}

.main-area-card::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.timelog {
    margin-bottom: 10px;
    height: 60px;
    background-color: rgb(155, 186, 190);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    transition: background-color 1s ease-in-out;
}

.timelog.highlight-log {
    background-color: rgb(179, 64, 224);
}

.timelog.highlight-log .timelog-spec {
    background-color: rgb(179, 64, 224);
    color: #FFFFFF;
    background-color: rgb(127, 46, 159);
}

.timelog-spec {
    background-color: rgb(107, 128, 131);
    min-width: 80px;
    max-width: 100px;
    height: 20px;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    /* font-size: 10px; */
    overflow: hidden;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}